* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2200px;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 1.25;
    overflow-x: hidden;
}

a { text-decoration: none }
ul { list-style: none}

h1, h2, h3 {
    margin-bottom: 2.2rem;
    color: #222;
    font-weight: 700;
}

h1 {font-size: 3rem}

h2 {font-size: 2.6rem;}

h3 {
    margin-bottom: 1.8rem;
    font-size: 2rem;
}

.btn:link,
.btn:visited {
    padding: .7rem 2.8rem;
    font-size: 1.2rem;
    margin-right: 1.3rem;
    border-radius: 10px;
    transition: color 0.4s, background 0.4s;
}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    background-color: #FF7F3F;
    border: 2px solid #FF7F3F;
}

.btn-full:hover,
.btn-full:active {
    background-color: #ff661a;
    border: 2px solid #ff661a;

}

.btn-outline:link,
.btn-outline:visited {
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
}

.btn-outline:hover,
.btn-outline:active {
    background: transparent;
}

/* ---------- Sections -----------*/

.container {
    width: 80%;
    margin: 0 auto;
}

.section-start {
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    color: #FF7F3F;
}

.section-hero {
    padding: 5.4rem 0 8.8rem 0;
    background-color: #fdf2e9;
}

.section-features {
    padding: 3.5rem 0;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.section-working {
    padding: 5rem 0;
    width: 80%;
    margin: 0 auto;
}

.section-meals {
    padding: 4.8rem 0 5.6rem;
    text-align: center;
}

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6rem;
    align-items: center;
}

.section-pricing {
    padding: 4.8rem 0;
    text-align: center;
    background: linear-gradient(#fff 70%, rgba(253, 242, 233, 0.4));
}

.section-why-us {
    padding: 5rem;
    background: linear-gradient(rgba(253, 242, 233, 0.4), rgba(253, 242, 233, 0.9));
}

/* ---------- Nav-Bar ----------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #fdf2e9;
}

.logo {
    height: 1.6rem;
}

.top-nav-list {
    display: flex;
    gap: 2.4rem;
}

.top-nav-link:link,
.top-nav-link:visited {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    padding: 0 0.3rem 0.4rem;
    border-bottom: 2px transparent;
    transition: color 0.3s, border 0.2s;
}

.top-nav-link:hover,
.top-nav-link:active {
    border-bottom: 2px solid #FF7F3F;
    color: #FF7F3F;
}

.top-nav-link.nav-btn:link,
.top-nav-link.nav-btn:visited {
    padding: 0.8rem 1.6rem;
    border-radius: 10px;
    background-color: #FF7F3F;
    color: #fff;
    transition: background-color 0.4s;
    border: none;
}

.top-nav-link.nav-btn:hover,
.top-nav-link.nav-btn:active {
    background-color: #ff661a;
}

/* --------- Hero Content ---------- */
.hero-container {
    margin: 0 auto;
    display: grid;
    max-width: 80rem;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    justify-content: space-between;
    grid-gap: 9.8rem;
}

.hero-description {
    margin-bottom: 3.6rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.hero-img img {
    width: 100%;
}

.hero-container i {
    font-size: 1rem;
}

.costumers {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.costumers-list {
    margin-right: 1.7rem;
}

.costumers-list>li {
    display: inline-block;
    height: 3.6rem;
}

.customer-welcome {
    font-size: 1.3rem;
}

.customer-welcome>span {
    color: #FF7F3F;
}

.costumers-list>li>img {
    height: 100%;
    border-radius: 50%;
    border: 5px solid #fdf2e9;
    margin-left: -1.2rem;
}

/* ---------- Section Features ----------- */

.section-features .section-start {color: #555;}

.features-list {
    margin: 2.9rem auto 0;
    display: flex;
    justify-content: space-around;
}

.features-list>img {
    height: 2.3rem;
    filter: brightness(0);
    opacity: 50%;
}

/* ---------- Section Working ----------- */

.steps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5.6rem;
    grid-row-gap: 9.6rem;
    justify-content: center;
    align-items: center;
}

.step-content {
    padding: 0 3.2rem;
}

.step-number {
    font-size: 4rem;
    margin-bottom: .9rem;
}

.step-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    /*padding: 0 3rem;*/
    /*text-align: center;*/
}

.step-img::before, .step-img::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-img::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
}

.step-img::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step-content {
    font-size: 1.2rem;
    line-height: 1.25;
}

.step-img img{
    height: 100%;
}


/* --------- Meals --------- */

.meal-container {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-evenly;

}

.meal-card {
    position: relative;
    top: 0;
    background-color: #fcfcfc;
    border-radius: 15px;
    box-shadow: 1px -1px 8px #555;
    overflow: hidden;
    transition: top ease 0.5s;
}

.meal-card:hover {
    top: -15px;
}

.meal-container>div {
    font-size: 1.2rem;
    flex-basis: 24%
}

.meal-img, .meal-img img { width: 100% }

.meal-content {
    padding: 1.4rem 2.4rem 2.4rem;
    text-align: left;
}

.tag {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
    color: #000;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.tag-vegan {
    background-color: #94d82d;
}

.tag-Paleo {
    background-color: #ffd43b;
}

.meal-heading {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.meal-content li {
    margin-bottom: 1rem;
}

.icon-meal {
    color: #FF7F3F;
    margin-right: 0.8rem;
}

.meal-side {
    padding: 1rem 0 3rem;
    text-align: left;
}

.meal-side>h3 {
    font-weight: 400;
    font-size: 2.4rem;
    color: #FF7F3F
}

.meal-side .icon-meal {margin-right: 2rem}

.meal-side li {
    margin: 0 2rem 1.5rem;
}

.more-meals {
    font-size: 1.2rem;
    color: #FF7F3F;
    padding: 0 0.8rem .4rem;
    border-bottom: 1px solid #FF7F3F;
}


/* ----------- Testimonials Section -------------- */

.testimonial-content {
    padding: 0 0 0 4rem;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-content: start;
    margin-top: 6rem;
}

.user-image {
    height: 4.5rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.user-image>img {
    height: 100%;
    border-radius: 50%;
}

.user-review {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.testimonial-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;

}

.testimonial-image {
    overflow: hidden;
    background-color: #000;
}

.testimonial-image>img {
    width: 100%;
    transform: scale(1.25);
    opacity: 0.8;
    transition: opacity .8s, transform .8s;
}

.testimonial-image>img:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* ---------- Section Pricing ----------- */

.price-plans-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 4rem auto 2rem;
}

.price-plans-container .btn {margin: 0;}

.price-plan:first-child {margin-right: 8rem;}

.plan-name {
    font-weight: 300;
    font-size: 1.8rem;
    color: #FF7F3F;
}

.price-plan {
    padding: 4rem 3.2rem;
    border: 1px solid #FF7F3F;
    border-radius: 15px;
}

.price-data {
    margin-bottom: 1.6rem;
}

.price-content {
    margin-top: .8rem;
    font-size: 0.9rem;
}

.plan-features {
    text-align: left;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.plan-features>li {
    margin-bottom: .8rem;
}

.plan-features i {
    color: #FF7F3F;
    margin-right: 1.1rem;
}

.price {
    font-size: 1.8rem;
}

.price>span {
    font-size: 2.8rem;
}

.plan-premium {
    position: relative;
    background-color: #fdf2e9;
    overflow: hidden;
}

.plan-premium::after {
    content: "BEST VALUE";
    font-weight: 700;
    position: absolute;
    right: -9%;
    top: 6%;
    padding: 0.4rem 2rem;
    background: #ffd43b;
    transform: rotate(45deg);
}

/* ---------- Section Why Us ---------- */
.why-us-cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.why-us {
    flex-basis: 20%;
}

.us-icon {margin-bottom: 1.5rem}

.us-icon i {
    position: relative;
    font-size: 2.4rem;
    margin-left: 0.8rem;
    color: #FF7F3F;
}

.us-icon i:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #facdad;
    z-index: -1;
    border-radius: 50%;
    height: 4.2rem;
    width: 4.4rem;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.why-us-heading {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1.3rem;
}
